 @use '@styles/mixins';
 @use '@styles/variables.scss';

.login,
.reg {
    display: flex;
    justify-content: center;

    &__container {
        padding: 30px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: variables.$light-gray;
        border-radius: variables.$radius-m;
        box-shadow: 8px 8px 6px variables.$shadow-black;
    }

    &__title {
        color: variables.$black-color;
        font-size: variables.$font-size-ml;
        font-weight: variables.$font-weight-bold;
        text-shadow: 1px 1px 3px variables.$shadow-white;
    }

    &__form {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 28px;
        margin-top: 20px;

        &-input {
            width: 70%;
            padding: 4px 0 4px 16px;
            height: 36px;
            border: 1px solid variables.$second-color;
            border-radius: variables.$radius-s;
            color: variables.$black-color;
            font-size: variables.$font-size-xs;

            &::placeholder {
                color: variables.$second-color;
                font-size: variables.$font-size-xs;
            }
        }

        &-error {
            color: variables.$error-color;
            font-size: variables.$font-size-xxs;
            margin-top: -20px;
        }
    }

    &__button {
        @include mixins.button(variables.$black-color, variables.$black-color, variables.$white-color);
    }
}