@mixin auth-container($margin-vertical, $width, $height) {
    margin-top: $margin-vertical;
    margin-bottom: $margin-vertical;
    width: $width;
    height: $height;
}

@mixin button($border-color, $background-color, $color) {
    border: 1px solid $border-color;
    background-color: $background-color;
    color: $color;
}