@use '@styles/variables.scss';

.custom-green-marker-inner {
    width: 12px;
    height: 12px;
    background: variables.$marker-color;
    border-radius: variables.$radius-m;
    border: 1px solid variables.$black-color;
}