@use '@styles/mixins.scss';
@use '@styles/variables.scss';

.stations {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        row-gap: 6vh;
    }

    &__title {
        margin-top: 29px;
        margin-left: 29px;
        font-weight: variables.$font-weight-bold;
        font-size: variables.$font-size-ml;
        align-self: flex-start;
    }

    &__criteria {

        &-data,
        &-time,
        &-request {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
        }

        &-inputs {
            display: flex;
            column-gap: 4px;
        }

        &-label {
            font-size: variables.$font-size-s;
        }

        &-label::placeholder {
            color: variables.$second-color;
        }

        &-input {
            padding: 5px 10px;
            margin-left: 6px;
            border: 1px solid variables.$black-color;
            border-radius: variables.$radius-s;
            font-size: variables.$font-size-s;

            &::placeholder {
                font-size: variables.$font-size-xs;
            }
        }

        &-title {
            text-align: center;
            margin-bottom: 17px;
            font-size: variables.$font-size-s;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            margin-bottom: 25px;
            font-size: variables.$font-size-s;
        }

        &-radio {
            max-width: 65%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    &__buttons {
        margin-bottom: 50px;
        display: flex;
        column-gap: 43px;
    }

    &__download__button {
        @include mixins.button(variables.$black-color, variables.$white-color, variables.$black-color);
        background-color:variables.$marker-color;
        color: variables.$white-color;
    }

    &__button {
        @include mixins.button(variables.$black-color, variables.$white-color, variables.$black-color);
    }

    &__description {
        font-weight: variables.$font-weight-regular;
        font-size: variables.$font-size-s;

        &__container {
            padding: 39px 29px;
            display: flex;
            flex-direction: column;
            row-gap: 5vh;
        }
    }
}

@media screen and (max-width: 767px) {
    .stations {
        &__title {
            font-size: variables.$font-size-s;
        }
    }
}