@use '@styles/variables.scss';

.footer {
    margin-top: auto;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        padding: 25px 29px;
        background-color: variables.$light-gray;
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
    }

    &__link {
        color: variables.$black-color;
        font-size: variables.$font-size-xs;
        text-decoration-color: variables.$link-inactive;
        transition: variables.$transition-slow text-decoration-color;

        &:hover {
            text-decoration-color: variables.$link-active;
        }

        &:not(:last-child) {
            &::after {
                content: '|';
                margin-left: 5px;
            }
        }
    }

    &__copyright {
        font-size: variables.$font-size-xs;
        font-weight: variables.$font-weight-regular;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        &__link {
            font-size: variables.$font-size-xxs;
        }
        &__copyright {
            font-size: variables.$font-size-xxs;
        }
    }
}